   @media all {
       #left {
           float: left;
           width: 60%;
           height: 500px;
           text-align: center;
           margin-top: 150px;
           font-family: 'Courier New', Courier, monospace;
       }
       #ho {
           font-size: 50px;
       }
       #ten {
           font-size: 80px;
       }
       #intro {
           margin-top: 50px;
           font-size: 30px;
       }
       #right {
           float: left;
           width: 40%;
           height: 720px;
           background-color: darkslategrey;
       }
   }
   
   body {
       background-color: cornsilk;
   }
   
   #avt {
       image-rendering: pixelated;
       object-fit: contain;
       margin-top: 100px;
       box-shadow: 6px 6px 6px cornsilk;
   }
   
   #avt:hover {
       transform: rotate3d(1, 1, 1, 20deg);
       transition: 10s;
   }